.LaxCards{
   margin-top: 5%;
   background-color: white;
   /* border: solid;
   border-color: grey; */
   height: 50vh /* 125% */;
   text-align: center;
   padding-top: 3%;
   box-shadow: 15px 20px 1px 1px rgba(96,96,96,0.1);
}
.Laxtitle{
   color: #86BE3E;
   font-size: 1.7rem;
}