.cards{
    margin-top: 6.4%;
    background-color: white;
    border: solid;
    border-color: grey;
    height: 125%;
    text-align: center;
    padding-top: 5%;
}
.title{
    color: #D84962;
    font-size: 1.3rem;
}
.OldList{
    list-style: "»";
}