@media (max-width: 768px){
    .blackBoxWeb{
        display: none;
    }
    .submitbtn{
        background-color: #D84962 ; 
        border-radius: 18px !important;
        width: 40%;
    }
    
    .blackBoxMov{
        color:white;
    }
    
    .Formulario{
        background-color:"transparent";
        border-top-color:"transparent";
        border-left-color:"transparent";
        border-right-color:"transparent";
    }
}
@media (min-width: 769px){
    .blackBoxMov{
        display: none;
    }
    .submitbtn{
        background-color: #D84962 ; 
        border-radius: 50px !important;
        width: 25%;
    }
    
    .blackBoxWeb{
        color:white;
    }
    
    .Formulario{
        background-color:"transparent";
        border-top-color:"transparent";
        border-left-color:"transparent";
        border-right-color:"transparent";
    }
}