.submitbtn{
    background-color: #D84962 ; 
    border-radius: 50px;
    width: 25%;
}

.blackBox{
    /* background-color: rgb(18,18,18,0.9); *//*0.9*/
    /* background-image: url("../../public/assets/img/FooterBckImg.png"); */
    color:white;
}