.link-text{
    color: #01B6B8;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 0.8rem;
    padding-bottom: 80% ;
}
.UpperText{
    color: #606060;
    font-size: 100px;
}
.LowerText{
    color: #D84962;
    font-size: 100px;
}