@font-face {
    font-size: 1.3rem;
    font-family: Nexa-Bold;
    src: url("../fonts/Nexa\ Bold.otf");
  }
@font-face {
    font-family: Nexa-Light;
    src: url("../fonts//Nexa\ Light.otf");
}
.Tfont{
    font-family: Nexa-Bold;
}
.Lfont{
    font-family: Nexa-Light;
}
.link-text{
    color: #01B6B8;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 0.8rem;
    padding-bottom: 80% ;
}
.UpperText{
    color: #606060;
    font-size: 100px;
}
.LowerText{
    color: #D84962;
    font-size: 100px;
}
@media (max-width: 768px) {
    .HomeBlock{
        text-align: left;
        height: auto;
    }
    .headerTop{
        position: relative;
        top:0%;
        left: 5%;
        height: 25%;
    }
    .headerMid{
        position: relative;
        left: -28%;
        margin-bottom: 0%;
        width: 150%;
    }
    .headerBot{
        position: absolute;
        top:52%;
        left: -2%;
        width: 90%;
        margin-bottom: -10%;
    }
}
@media (min-width: 769px){
    .HomeBlock{
        text-align: center;
    }
    .headerTop{
        position: absolute;
        top:10%;
        left:10%;
    }
    .headerMid{
        margin-bottom: 5%;
    }
    .headerBot{
        position: absolute;
        top:40%;
        left:0%;
    }
}